.paginator {
  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 0px;
    align-content: center;
    align-items: center;
  }
  &__prev-button {
    cursor: pointer;
    padding: 5px 40px;
    border-radius: 30px;
    border: none;
    color: #ffffff;
    background-color: #d3411b;
    text-align: center;
    margin-right: 10px;
  }
  &__actual-page{
    font-weight: 700;
  }
  &__next-button {
    cursor: pointer;
    padding: 5px 40px;
    border-radius: 30px;
    border: none;
    color: #ffffff;
    background-color: #d3411b;
    text-align: center;
    margin-left: 10px;
  }
}
