.ticket-list {
  &__headers {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 10px 0;
    list-style: none;
    justify-content: space-around;
    color: #ffffff;
    background-color: #0092dd;
  }
  &__entry {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #c2c2c2;
  }
  &__ticket-preview {
    width: 40%;
  }
  &__canditates {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
