.ticket-preview {
  padding: 10px 40px;
  background-color: #f7f8f9;
  max-width: 400px;
  &__title {
    color: #0494dd;
  }
  &__assign {
    color: #dbdada;
  }
  &__details {
    padding: 20px 0;
  }
  &__detail {
  }
  &__detail span {
    font-weight: bold;
  }
  &__request {
    display: flex;
    justify-content: space-around;
  }
  &__status {
    display: flex;
    justify-content: center;
  }
}
